/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::FONTS::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::UNIVERSAL CSS:::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.text-center{
    text-align: center;
}

.menu_list a{
    text-decoration:none !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px !important;
}
.menu_list a:hover{
    text-decoration:none  !important;
}


/********************************************************************************/
/*:::::::::::::::::MATERIAL DESIGN CUSTOMIZED:::::::::::::::::::::::::::::::::::*/
/********************************************************************************/
.mdl-layout__drawer{
    overflow-y: auto;
}
.mdl-layout__drawer::-webkit-scrollbar {
    display: none;
}
.mdl-layout__drawer::-moz-scrollbar{
    display: none;
}


.mdl-dialog {
    box-shadow:!important 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 1000px !important;
    height: 50px !important;
    border-left: 60px solid #1a237e !important;
    border-right: 60px solid #1a237e !important;
    color:#1a237e !important;
    text-transform: capitalize !important;
    text-align: center !important;
}
.mdl-dialog__title {
    /*padding:;
    margin: 0;*/
    text-align: center !important;
    font-size: 1.5rem !important;
    display: inline !important;
}
.mdl-dialog__actions {
    /*padding: 8px 8px 8px 24px;*/
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    margin-top: -55px !important;
}
.mdl-dialog__actions > * {
    /*margin-right:;*/
    height: 36px !important;
}
.mdl-dialog__actions > *:first-child {
    /*margin-right:;/*
  }

  .mdl-dialog__actions--full-width {
    /*padding: 0 0 8px 0;*/
}
.mdl-dialog__actions--full-width > * {
    /*height: 48px;*/
    -webkit-flex: 100% 0 100% !important;
    -ms-flex: 100% 0 90% !important;
    flex: 100% 0 90% !important;
    /*padding-right: 16px;*/
    margin-right: 0 !important;
    text-align: right !important;
}
.mdl-dialog__content {
    /*padding: 20px 24px 24px 24px;*/
    color: rgba(0,0,0, 0.54) !important;
}

/********************************************************************************/
/*::::::::::::::::::::::MY STYLE:::::::::::::::::::::::::::::::::::*/
/********************************************************************************/


/********************************************************************************/
/*:::::::::::::::::LOGIN FORM:::::::::::::::::::::::::::::::::::*/
/********************************************************************************/
.login{
    font-family: 'Raleway',sans-serif;
    width: 610px;
    height: 250px;
    margin-left: 27%;
    margin-top: 23%;
    padding: 25px;
    display: block;
    background:rgb(63,81,181);
}
 .login_upper{
    width:450px;
    height:300px ;
    background:#ffffff ;
    box-shadow: 1px 1px 30px #616161;
    z-index: 9999;
    margin-left: 10%;
    margin-top:-150px;
    padding-left: 75px;
    padding-top: 30px;
}
.login_btn{
    float: right;
    padding-right: 70px;
    padding-top: 15px;
}
.login_title{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-left: 100px;
    color: rgb(63,81,181);
    margin-bottom: 10px;
}
.copyright{
    font-family:'Raleway' sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    text-transform:capitalize;
    display: block;
}
.developer{
    font-family:'Raleway' sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    text-transform:capitalize;
    display: block;
}
/********************************************************************************/
/*:::::::::::::::::MENU:::::::::::::::::::::::::::::::::::*/
/********************************************************************************/
.menu{
    width: 100%;
    height: 39px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: block;
    padding: 5px;
    padding-left: 10px;
    text-transform: capitalize;
    border-bottom: 2px #ffffff;
    margin-bottom: 3px;
}
.menu:hover{
    background-color: #1A237E;
}
.menu .name{
    display: flex;
    float: left;
    text-transform: capitalize;
}

.menu .button{
    display: flex;
    float: right;
}

.logout{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 3px;
}

/********************************************************************************/
/*:::::::::::::::::CUSTOM BUTTON::::::::::::::::::::::::::::::::::::::::::::::::*/
/********************************************************************************/
.update_btn{
    height: auto;
    width: auto;
    padding: 3px;
    background: #1a237e;
}